#jarJarDiv {
    float: left;
    margin: 3px;
    padding: 3px;
}

#c3poDiv {
    float: left;
    margin: 3px;
    padding: 3px;
}

#r2d2Div {
float: left;
margin: 3px;
padding: 3px;

}

#ewokDiv {
    float: left;
    margin: 3px;
    padding: 3px;
}

#sbcDiv {
    float: left;
    margin: 3px;
    padding: 3px;
}

h3 {
    text-align: center;
}